Repository HUSST-de/HUSST, pull requests merged in 2020-01, with the labels that each got.

#7 Enumerationen ergebnisdaten cindy
  Entwicklung/Cindy/HUSST_Ergebnisdaten_Cindy.xsd
Labels: enhancement, ergebnis

#9 Erste automatisch generierte Doku
  Entwicklung/Cindy/Doku/HUSST_Versorgungsdaten_Cindy.AutoDoc.xml
Labels: documentation, versorgung

#12 Kopf in der Cindy-Version vereinheitlicht
  Entwicklung/Cindy/DVStrukturTransformationen/Cindy_Kopfangaben.xsl
  Entwicklung/Cindy/HUSST_Appinfo_Cindy.xsd
  Entwicklung/Cindy/HUSST_Ergebnisdaten_Cindy.xsd
  Entwicklung/Cindy/HUSST_Versorgungsdaten_Cindy.xsd
Labels: enhancement, ergebnis, versorgung
